@font-face {
  font-family: DejaVu;
  src: url('DejaVu.ttf');
}
@font-face {
  font-family: NotoSansSC;
  src: url('NotoSansSC-Regular.ttf');
}

body {
  background-color: white;
  color: black;
  font-family: DejaVu, NotoSansSC;
  line-height: 1.5;
  margin: auto;
  max-width: 960px;
  padding: 0.2in 0.2in;

  /* Browser print with background color */
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

/* Cover */
div#cover {
  display: inline;
}

/* Table of contents */
#toc {
  columns: 2;
}
.toc_h2, .toc_h3, .toc_h4, .toc_h5 {
  line-height: 150%;
}
.toc_h2:before {
  content: '第' counter(toc_h2) '章 ';
  white-space: pre;
}
.toc_h2 {
  counter-increment: toc_h2;
  counter-reset: toc_h3;
  text-decoration: none;
}
.toc_h3:before {
  content: '       ' counter(toc_h2) '.' counter(toc_h3) ' ';
  white-space: pre;
}
.toc_h3 {
  counter-increment: toc_h3;
  counter-reset: toc_h4;
  text-decoration: none;
}
.toc_h4:before {
  content: '             ' counter(toc_h2) '.' counter(toc_h3) '.' counter(toc_h4) ' ';
  white-space: pre;
}
.toc_h4 {
  counter-increment: toc_h4;
  counter-reset: toc_h5;
  text-decoration: none;
}
.toc_h5:before {
  content: '                   ' counter(toc_h2) '.' counter(toc_h3) '.' counter(toc_h4) '.' counter(toc_h5) ' ';
  white-space: pre;
}
.toc_h5 {
  counter-increment: toc_h5;
  text-decoration: none;
}

/* Headings */
h1, h2 {
  border-bottom: 1px solid;
  font-size: 200%;
  font-weight: lighter;
  margin-bottom: 1.0in;
  margin-top: 1.0in;
  text-align: center;
}
h2:before {
  content: '第' counter(h2) '章 ';
}
h2 {
  counter-increment: h2;
  counter-reset: h3;
}
h3:before {
  content: counter(h2) '.' counter(h3) ' ';
}
h3 {
  font-size: 120%;
  counter-increment: h3;
  counter-reset: h4;
}
h4:before {
  content: counter(h2) '.' counter(h3) '.' counter(h4) ' ';
}
h4 {
  font-size: 110%;
  counter-increment: h4;
  counter-reset: h5;
}
h5:before {
  content: counter(h2) '.' counter(h3) '.' counter(h4) '.' counter(h5) ' ';
}
h5 {
  font-size: 100%;
  counter-increment: h5;
}
h6:before, h6:after {
  content: ' —— ';
}
h6 {
  font-size: 100%;
  margin-top: 0.5em;
  margin-bottom: 0;
}

/* Paragraphs */
p {
  margin: 0em;
  text-indent: 2em;
}

/* Lists */
ul {
  margin: 0.5em;
}

/* Suit symbols */
ss:before {
  color: black;
  content: '♠';
}
hs:before {
  color: #dd0000;
  content: '♥';
}
ds:before {
  color: #dd0000;
  content: '♦';
}
cs:before {
  color: black;
  content: '♣';
}

/* Figures */
#contract-points {
  display: flex;
}

/* Styling tooltips, e.g. point count */
abbr {
  border: none;
  text-decoration: none;
}

/* Tables */
table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  white-space: nowrap;
}
th, td {
  font-weight: normal;
  line-height: 1.3;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
  vertical-align: top;
}

/* Markdown tables */
table.null th {
  text-align: left;
  border-bottom: 1px solid #555;
}
table.null td {
  padding-top: 0;
  padding-bottom: 0;
}

/* Numeric tables */
table.numeric th {
  border-bottom: 1px solid #555;
}
table.numeric th, table.numeric td {
  font-size: 95%;
  padding-left: 4px;
  padding-right: 4px;
  text-align: right;
}

/* Bid-matrix tables */
table.matrix, table.matrix th, table.matrix td,
table.dense-matrix, table.dense-matrix th, table.dense-matrix td {
  border: 1px solid grey;
  border-collapse: collapse;
  text-align: center;
}
table.dense-matrix th, table.dense-matrix td {
  font-size: 96%;
  padding-left: 1px;
  padding-right: 1px;
}
table.matrix td.fill,
table.dense-matrix td.fill {
  background-color: gainsboro;
}
table.matrix td.no-bot,
table.dense-matrix td.no-bot {
  border-bottom: 1px solid white;
}
table.matrix td.no-top,
table.dense-matrix td.no-top {
  border-top: 2px solid white;
}
table.matrix td.no-bot-top,
table.dense-matrix td.no-bot-top {
  border-bottom: 1px solid white;
  border-top: 2px solid white;
}

/* Auction tables */
table.auction td.hand {
  vertical-align: middle;
  width: 1.4in;
}
table.auction td.bid-cmt {
  width: 2.4in;
}

/* Links as footnotes */
.footnote {
  display: none;
}
