/* Page setup */
@page:first {
  counter-increment: page_num 0;
  @top-left {
    content: normal;
  }
  @top-right {
    content: normal;
  }
  @bottom-left {
    content: normal;
  }
  @bottom-right {
    content: normal;
  }
}
@page {
  font-family: DejaVu, NotoSansSC;
  size: letter;
}
@page:left {
  counter-increment: page_num;
  @top-left {
    content: '§ 无将应叫逼局体系 §';
    font-size: smaller;
  }
  @bottom-left {
    content: counter(page_num);
    font-size: smaller;
  }
}
@page:right {
  counter-increment: page_num;
  @top-right {
    content: '§ ' string(chapter) ' §';
    font-size: smaller;
  }
  @bottom-right {
    content: counter(page_num);
    font-size: smaller;
  }
}
h1, h2 {
  string-set: chapter content();
}

#heading_0 {
  page: content_start;
}
@page content_start {
  counter-reset: page_num;
}

/* Reduce font size for a better fit */
body {
  font-size: 90%;
}

/* Table of contents */
#toc {
  columns: 1;
}
.toc_h2:after, .toc_h3:after, .toc_h4:after, .toc_h5:after {
  content: leader('.') target-counter(attr(href), page_num);
}

/* Page breaks */
h1, h2 {
  page-break-before: always;
}
h2, h3, h4, h5, h6 {
  page-break-after: avoid;
}
table {
  page-break-inside: avoid;
}

/* Figures */
#contract-points {
  display: block;
}
#contract-points img {
  width: 75%;
}

/* Auctions */
table.auction td.hand {
  width: 1.3in;
}
table.auction td.bid-cmt {
  width: 2.2in;
}

/* Links as footnotes */
@page {
  @footnote {
    border-top: 1pt solid black;
  }
}
.footnote {
  display: block;
  float: footnote;
  font-size: 80%;
}
::footnote-call {
  content: '[' counter(footnote) ']';
  font-size: 80%;
  position: relative;
  vertical-align: super;
}
::footnote-marker {
  content: '[' counter(footnote) '] ';
}

/* Cross references */
a.xref:after {
  content: '（第' target-counter(attr(href), page_num) '页）';
}
